{{ define "main" }}
<article class="max-w-4xl mx-auto px-6 py-10 text-justify">
  <header class="mb-10 text-center">
    <h1 style="font-size: 3rem;" class="font-extrabold">{{ .Title }}</h1>
  </header>
  <hr class="border-gray-300 mb-6">
  <ul class="space-y-1">
    <li><b>Personal Email:</b> <a href="mailto:kabrasri03@gmail.com" class="text-blue-600 underline">kabrasri03@gmail.com</a></li>
    <li><b>Institute Email:</b> <a href="mailto:ms23185@iisermohali.ac.in" class="text-blue-600 underline">ms23185@iisermohali.ac.in</a></li>
    <li><b>Phone:</b> <a href="tel:+91 7249444358" class="text-blue-600 underline">+91 7249444358</a></li>
  </ul>
</article>
{{ end }}
